In [38]:
import pandas as pd


# df = pd.read_excel('출산율.xlsx',skiprows=2, skipfooter=3, index_col=0)
# df.index.name = '목록'
# df

df = pd.read_excel('합계출산율.xlsx',skiprows=2, skipfooter=2, index_col=0)
df.iloc[0]
df.iloc[1]

df.loc['합계\xa0출산율']
df.loc['출생아\xa0수']
df
# df.index.values

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
출생아 수,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600,249.10,230.00
합계 출산율,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.78,0.72

In [46]:
# index 이름 변경
df.index.values
df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)
df.index.values

df_t= df.T
df_t.describe()

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,218.302500,219.819500,203.686000,179.42600,163.888500,151.809000,136.568500,130.704000,124.940000,115.360000
std,307.022229,309.119508,286.398045,252.25893,230.391653,213.392099,191.953328,183.700685,175.588756,162.125443
min,1.205000,1.239000,1.172000,1.05200,0.977000,0.918000,0.837000,0.808000,0.780000,0.720000
25%,109.753750,110.529250,102.429000,90.23900,82.432750,76.363500,68.702750,65.756000,62.860000,58.040000
50%,218.302500,219.819500,203.686000,179.42600,163.888500,151.809000,136.568500,130.704000,124.940000,115.360000
75%,326.851250,329.109750,304.943000,268.61300,245.344250,227.254500,204.434250,195.652000,187.020000,172.680000
max,435.400000,438.400000,406.200000,357.80000,326.800000,302.700000,272.300000,260.600000,249.100000,230.000000