In [8]:
import pandas as pd


data = {
   '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
   '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
   '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
   '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

df = pd.DataFrame(data)

df['관객 수'] = df['관객 수'] * 10000

df

          영화  개봉 연도      관객 수    평점
0         명량   2014  17610000  8.88
1       극한직업   2019  16260000  9.20
2  신과함께-죄와 벌   2017  14410000  8.73
3       국제시장   2014  14260000  9.16
4         괴물   2006  13010000  8.62
5        도둑들   2012  12980000  7.64
6    7번방의 선물   2013  12810000  8.83
7         암살   2015  12700000  9.10